<!DOCTYPE HTML>

<html>
  <head>
    <title>jnthn.uk</title>
    <link rel="stylesheet" href="/assets/css/site.css">
    <meta name="google" value="notranslate">
  </head>
  <body>
    <div id="header">
      <p class="title"><a href="/">jnthn</a></p>
      <ul id="nav">
        <li><a href="/projects">Projects</a></li>
        <li><a href="/hacks">Hacks</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div id="content">
      {{ content }}
    </div>
  </body>
</html>

