---
layout: default
---

{% for hack in site.data.hacks %}
<div class="hack">
  <div class="hack-screenshot">
    <a href="{{ hack.link }}" target="_blank"><img src="/assets/images/{{ hack.screenshot }}" /></a>
  </div>
  <div class="hack-meta">
    <p class="hack-title">{{ hack.title }}</p>
    <p class="hack-description">{{ hack.description }}</p>

    <!--Github log-->
    <a class="repo-link" href="{{ hack.repo_link }}" target="_blank">
      <img class="icon" src="/assets/icons/github.svg" alt="github logo">
    </a>

    <!--Hackathon name-->
    <img src="https://img.shields.io/badge/{{ hack.hackathon.name }}-{{ hack.hackathon.date | replace: '-', '--' }}-lightgrey.svg" alt="github logo">
  </div>
</div>
{% endfor %}

